---
---
@import url(http://fonts.googleapis.com/css?family=Yellowtail);

#logo-container {
  font-size: 1em;
  .card-panel {
    display: inline-block;
    position: absolute;
    content: ' ';
    width: 7em;
    z-index: 100;
    height: 5em;
  }

  #logo-block-top {
    top: 0;
    left: 0;
  }

  #logo-block-bottom {
    top: 1.5em;
    left: 2.5em;
  }

  #logo-text {
    display: inline-block;
    position: absolute;
    top: 1.5em;
    left: 1em;
    z-index: 1000;

    span {
      font-family: 'Yellowtail', cursive;
      font-size: 3em;
      color: #eceff1;
      //text-shadow: 2px 2px #212121;
      text-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

.container {
  position: relative;
}

.page {
  padding-top: 20px;
}

.code-card {
  background-color: #f3e5f5;

  pre {
    border: 1px solid #9e9e9e;
    padding: 1em;
    background-color: #fafafa;
  }

  .filename {
    font-weight: bold;
  }
}

.alert-card {
  background-color: #e3f2fd;

  .row {
    margin-bottom: 0;
  }
}

.alert-info {
  background-color: #e3f2fd;
}

.alert-warning {
  background-color: #fffde7;
}

.alert-danger {
  background-color: #ffebee;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
