
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Syncr - the sort-of front for Rsync</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="{{ "/css/materialize.min.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ "/css/main.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet" />
  <link href="{{ "/css/syntax.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet" />
</head>
<body>
  <nav class="amber darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <div id="logo-block-top" class="card-panel green darken-4 z-depth-2"></div>
        <div id="logo-block-bottom" class="card-panel deep-purple z-depth-1"></div>
        <div id="logo-text">
          <span>Syncr</span>
        </div>

      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ "/why-syncr.html" | prepend: site.baseurl}}"><i class="left fa fa-question-circle"></i> FAQ</a></li>
        <li><a href="https://github.com/layer8x/syncr"><i class="left fa fa-github"></i> GitHub</a></li>
        <li><a href="{{ "/features" | prepend: site.baseurl}}"><i class="left fa fa-plus-circle"></i> Features</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ "/why-syncr.html" | prepend: site.baseurl}}"><i class="left fa fa-question-circle"></i> FAQ</a></li>
        <li><a href="https://github.com/layer8x/syncr"><i class="left fa fa-github"></i> GitHub</a></li>
        <li><a href="{{ "/features" | prepend: site.baseurl}}"><i class="left fa fa-plus-circle"></i> Features</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {{ content }}

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img src="https://avatars2.githubusercontent.com/u/11019503?v=3&s=200" class="responsive-img left circle" style="padding-right: 5px;">
          <h5 class="white-text">Syncr is a Layer8x Project</h5>
          <p class="grey-text text-lighten-4">
            Syncr as well as every Layer8x project is made possible by the Open Source community. Please give back to the community.
          </p>
        </div>
        <div class="col l4 offset-l2 s12 white-text">
          <h5>Links</h5>
          <ul>
            <li><a href="http://www.rubydoc.info/github/layer8x/syncr/master/Syncr">RubyDocs</a></li>
            <li><a href="https://waffle.io/layer8x/syncr">Waffle board</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2015 Justin Roberson, Layer8x, and contributors
      <span class="right">Made with <i class="fa fa-heart-o"></i> in Asheville, NC.</span>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/app.js"></script>

  </body>
</html>
